:root {
  --main-color: #e91e63;
  --sec-color: #b5174d;
  --section-padding: 60px;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--sec-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
.c-grey {
  color: #767676;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*start landing section*/
#landing {
  background-image: url("../images/01.jpg");
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        padding: 0 15px;
      }
      h4 {
        color: white;
      }
      .menu-btn {
        display: none;
        gap: 4px;
        cursor: pointer;
        span {
          background-color: white;
          width: 30px;
          height: 4px;
          border-radius: 2px;
        }
        @media (max-width: 768px) {
          display: grid;
        }
      }
      .links {
        list-style-type: none;
        display: flex;
        gap: 10px;
        @media (max-width: 768px) {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          right: 20px;
          top: 70px;
          width: calc(100% - 40px);
          background-color: white;
          display: block;
          text-align: center;
          transition: opacity 0.3s;
          padding: 10px 20px;
          border-radius: 4px;
          z-index: 2;
          &.show {
            visibility: visible;
          }
          &.opacity-1 {
            opacity: 1;
          }
          &::before {
            content: "";
            position: absolute;
            top: -20px;
            right: 15px;
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent white transparent;
          }
        }
        li:not(:last-child) {
          @media (max-width: 768px) {
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 1px;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: var(--main-color);
            }
          }
        }
        a {
          color: white;
          display: block;
          &:hover {
            transition-duration: 0.3s;
            color: var(--main-color);
          }
          @media (max-width: 768px) {
            color: black;
            font-weight: bold;
            padding: 10px 0;
          }
        }
      }
    }
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    padding: 0 15px;
    @media (min-width: 992px) {
      width: 600px;
    }
    h1 {
      font-size: 36px;
      @media (max-width: 768px) {
        font-size: 28px;
      }
      span {
        color: var(--main-color);
      }
    }
    p {
      margin-top: 10px;
      font-size: 18px;
      line-height: 1.7;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
/*end landing section*/

/*start about section*/
#about {
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      text-align: center;
      display: block;
    }
    .text {
      flex: 1;
      h2 {
        color: var(--main-color);
        font-size: 30px;
      }
      p {
        margin-top: 10px;
        font-size: 17px;
        line-height: 1.7;
      }
    }
    .image {
      text-align: center;
      flex: 1;
      width: 100%;
      img {
        width: 250px;
      }
    }
  }
}
/*end about section*/

/*start skills section*/
#skills {
  background-color: #eee;
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    h2 {
      color: var(--main-color);
      text-align: center;
      font-size: 30px;
    }
    .box {
      padding-top: 30px;
      display: grid;
      gap: 15px;
      .skill {
        background-color: white;
        padding: 15px;
        display: flex;
        align-items: center;
        h4 {
          width: 150px;
          text-align: center;
        }
        .progress-bar {
          background-color: #f6f6f6;
          width: 100%;
          height: 30px;
          border-radius: 6px;
          overflow: hidden;
          > div {
            background-color: var(--main-color);
            height: 100%;
            transform: translateX(-101%);
            transition: transform 1s;
          }
        }
      }
    }
  }
}
/*end skills section*/

/*start gallery section*/
#gallery {
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    h2 {
      color: var(--main-color);
      text-align: center;
      font-size: 30px;
    }
    .images {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      img {
        width: 200px;
        border: 3px solid white;
        outline: 2px solid #ddd;
        cursor: pointer;
      }
    }
  }
  .overlay {
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgb(0 0 0 / 90%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    .box {
      position: absolute;
      background-color: white;
      padding: 20px 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 75%;
      h2 {
        color: var(--main-color);
        font-size: 30px;
      }
      img {
        width: 100%;
        padding-top: 30px;
      }
      .close-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--main-color);
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
/*end gallery section*/

/*start timeline section*/
#timeline {
  background-color: #eee;
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
      width: 1px;
      height: calc(100% - var(--section-padding));
      background-color: var(--main-color);
    }
    .year {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--main-color);
      font-weight: bold;
      color: white;
      font-size: 14px;
      width: 45px;
      text-align: center;
      padding: 2px 0;
      border-radius: 4px;
      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }
    .box {
      background-color: white;
      margin-top: 40px;
      width: calc(50% - 30px);
      padding: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: -20px;
        top: 20px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent white;
      }
      &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        right: -40px;
        top: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        border: 3px solid var(--main-color);
      }
      &.right {
        align-self: flex-end;
        &::before {
          right: auto;
          left: -20px;
          border-color: transparent white transparent transparent;
        }
        &::after {
          right: auto;
          left: -40px;
        }
      }
      @media (max-width: 768px) {
        align-self: center;
        width: 90%;
        &.right {
          align-self: center;
        }
        &::before,
        &::after {
          display: none;
        }
      }
      h3 {
        color: var(--main-color);
      }
      p {
        margin-top: 10px;
        line-height: 1.7;
      }
    }
  }
}
/*end timeline section*/

/*start features section*/
#features {
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    h2 {
      color: var(--main-color);
      text-align: center;
      font-size: 30px;
    }
    .content {
      padding-top: 30px;
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      .box {
        text-align: center;
        img {
          width: 100px;
        }
        h3 {
          margin-top: 20px;
          font-size: 22px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            width: 40px;
            height: 5px;
            border-radius: 2px;
            background-color: var(--main-color);
          }
        }
        p {
          margin-top: 40px;
          line-height: 1.7;
        }
      }
    }
  }
}
/*end features section*/

/*start testimonials section*/
#testimonials {
  position: relative;
  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::before,
    &::after {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    &::before {
      background-color: var(--main-color);
      left: 0;
    }
    &::after {
      background-color: #333;
      right: 0;
    }
  }
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    h2 {
      color: white;
      font-size: 30px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .content {
      margin-top: 30px;
      display: flex;
      gap: 10px;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .box {
        background-color: white;
        padding: 20px;
        > p {
          font-style: italic;
          line-height: 1.5;
        }
        .info {
          width: fit-content;
          margin: auto;
          @media (min-width: 1200px) {
            margin: unset;
            display: flex;
            align-items: center;
            column-gap: 20px;
          }
          .image {
            border-radius: 50%;
            overflow: hidden;
            width: 80px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            img {
              max-width: 100%;
            }
          }
          .text {
            text-align: center;
            @media (min-width: 1200px) {
              text-align: left;
            }
            h4 {
              margin-top: 10px;
            }
            p {
              margin-top: 5px;
              @media (min-width: 1200px) {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
/*end testimonials section*/

/*start contact section*/
#contact {
  background-image: url(../images/contact.png);
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 50%);
  }
  .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    z-index: 1;
    h2 {
      color: var(--main-color);
      text-align: center;
      font-size: 30px;
    }
    form {
      margin-top: var(--section-padding);
      margin-bottom: 160px;
      display: flex;
      gap: 15px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      input,
      textarea {
        border: 1px solid #ccc;
        font-size: 16px;
        padding: 10px;
        resize: none;
        background-color: rgb(238 238 238 / 50%);
        &:focus {
          outline: none;
          border: 1px solid var(--main-color);
          transition: border 0.3s;
        }
        &:focus::placeholder {
          transition: opacity 0.3s;
          opacity: 0;
        }
      }
      .sec-1 {
        display: grid;
        gap: 15px;
        flex: 1;
      }
      .sec-2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1;
        textarea {
          flex: 1;
          @media (max-width: 768px) {
            flex: auto;
            height: 150px;
          }
        }
        input {
          background-color: var(--main-color);
          color: white;
          border: 1px solid var(--main-color);
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
/*end contact section*/

/*start footer*/
footer {
  background-color: #333;
  color: white;
  height: 60px;
  line-height: 60px;
  text-align: center;
  a {
    color: var(--main-color);
    font-weight: bold;
    outline: none;
  }
}
/*end footer*/

/*start nav-bullets*/
.nav-bullets {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  gap: 20px;
  z-index: 1;
  &.hide {
    display: none;
  }
  > a {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    > div {
      transition: opacity 0.3s;
      opacity: 0;
      pointer-events: none;
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: attr(data-section);
        right: 35px;
        color: white;
        width: 110px;
        text-align: center;
        padding: 5px;
        background-color: var(--main-color);
      }
      &::after {
        content: "";
        right: 15px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent var(--main-color);
      }
    }
    &:hover > div {
      opacity: 1;
    }
  }
}
/*end nav-bullets*/

/*start side panel settings*/
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: white;
  z-index: 3;
  border-right: 1px solid #eee;
  transition: transform 0.3s;
  transform: translateX(-200px);
  &.show {
    transform: translateX(0);
  }
  .icon {
    position: absolute;
    right: -25px;
    top: 100px;
    width: 25px;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-left: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    i {
      font-size: 14px;
      position: relative;
      left: 1px;
    }
    &:hover i {
      animation: spin 1s linear infinite;
      animation-fill-mode: forwards;
    }
  }
  .panel {
    > div {
      background-color: #eee;
      margin: 10px;
      padding: 10px;
    }
    h5 {
      text-align: center;
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
    }
    .yes-or-no {
      display: flex;
      justify-content: center;
      gap: 10px;
      font-size: 12px;
      font-weight: bold;
      color: white;
      a {
        display: block;
        width: 50px;
        padding: 2px 0;
        text-align: center;
        border-radius: 4px;
        background-color: var(--main-color);
        opacity: 0.5;
        transition: opacity 0.3s;
        cursor: pointer;
        &.selected {
          opacity: 1;
        }
      }
    }
    .colors {
      .box {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        a {
          display: block;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          box-sizing: unset;
          cursor: pointer;
        }
        .selected {
          border: 3px solid white;
        }
        .color-1 {
          background-color: #e91e63;
        }
        .color-2 {
          background-color: #03a9f4;
        }
        .color-3 {
          background-color: #ff9800;
        }
        .color-4 {
          background-color: #009688;
        }
        .color-5 {
          background-color: #4caf50;
        }
      }
    }
    .reset-btn {
      display: block;
      background-color: #f44336;
      padding: 8px;
      color: white;
      font-weight: bold;
      text-align: center;
      width: calc(100% - 20px);
      margin: 0 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
/*end side panel settings*/
